{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    <title>Ask</title>
{% endblock %}

{% block content %}
<div class="row" style="margin-bottom: 80px">
    <div class="container mt-4">
        <h2 class="mb-4">Ask a Question</h2>
        <form action="#" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title"
                       placeholder="Brief description of the problem" required>
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Text</label>
                <textarea class="form-control" id="text" name="text" rows="4"
                          placeholder="Ask anything!"
                          required></textarea>
            </div>
            <div class="mb-3">
                <label for="tags" class="form-label">Tags</label>
                <input type="text" class="form-control" id="tags" name="tags"
                       placeholder="Allows users to quickly find a question">
            </div>
            <button class="btn btn-primary" type="submit"
                    onclick="window.location.href = ''">Ask!
            </button>
        </form>
    </div>
</div>
{% endblock %}

