{% extends 'layouts/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href={% static '/css/bootstrap.css' %}>
</head>
<body>
<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="./index.html">
                    <img src={% static '/assets/Q_logo.png' %} width="30" height="30"
                         class="img-thumbnail d-inline-block align-top"
                         alt="" loading="lazy">
                    AskQ
                </a>
                <form class="d-flex justify-content-center">
                    <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    <button class="btn btn-primary" type="button" onclick="window.location.href = './ask.html'">Ask!
                    </button>
                </form>
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-1" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            oFem1m_
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-1">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Log out</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <img src="../static/assets/avatar.png" width="40" height="40"
                             class="img-thumbnail " alt="" loading="lazy">
                    </li>
                </ul>


            </div>
        </nav>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="container mt-4">
                        <h2 class="mb-4">Popular Questions</h2>
                        <div class="card mb-4">
                            <div class="row g-0">
                                <div class="col-md-2 d-flex justify-content-center align-items-center ">
                                    <img src="../static/assets/avatar.png" width="80" height="80" alt="Аватар">
                                </div>
                                <div class="col-md-10">
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="./question.html">Question</a></h4>
                                        <p class="card-text">I don't know how to solve this problem... </p>
                                        <a href="./question.html" class="card-link">Answers (3)</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row align-items-center">
                                    <div class="col-2">
                                        <div class="btn-group" role="group" aria-label="Лайк и дисклайк">
                                            <button type="button" class="btn btn-success">
                                                <img src="../static/assets/upvote.svg" width="30" height="30" alt="За">
                                            </button>
                                            <button type="button" class="btn btn-danger">
                                                <img src="../static/assets/upvote.svg" width="30" height="30"
                                                     alt="Против"
                                                     style="transform: rotate(180deg)">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="fw-bold">
                                            Tags:
                                            <a href="#" class="btn btn-primary">Cras justo odio</a>
                                            <a href="#" class="btn btn-success">Dapibus ac facilisis in</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="row g-0">
                                <div class="col-md-2 d-flex justify-content-center align-items-center ">
                                    <img src="../static/assets/avatar.png" width="80" height="80" alt="Аватар">
                                </div>
                                <div class="col-md-10">
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="./question.html">Question</a></h4>
                                        <p class="card-text">I don't know how to solve this problem... </p>
                                        <a href="./question.html" class="card-link">Answers (1)</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row align-items-center">
                                    <div class="col-2">
                                        <div class="btn-group" role="group" aria-label="Лайк и дисклайк">
                                            <button type="button" class="btn btn-success">
                                                <img src="../static/assets/upvote.svg" width="30" height="30" alt="За">
                                            </button>
                                            <button type="button" class="btn btn-danger">
                                                <img src="../static/assets/upvote.svg" width="30" height="30"
                                                     alt="Против"
                                                     style="transform: rotate(180deg)">
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-10">
                                        <div class="fw-bold">
                                            Tags:
                                            <a href="#" class="btn btn-info">Morbi leo risus</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="row g-0">
                                <div class="col-md-2 d-flex justify-content-center align-items-center ">
                                    <img src="../static/assets/avatar.png" width="80" height="80" alt="Аватар">
                                </div>
                                <div class="col-md-10">
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="./question.html">Question</a></h4>
                                        <p class="card-text">I don't know how to solve this problem... </p>
                                        <a href="./question.html" class="card-link">Answers (2)</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row align-items-center">
                                    <div class="col-2">
                                        <div class="btn-group" role="group" aria-label="Лайк и дисклайк">
                                            <button type="button" class="btn btn-success">
                                                <img src="../static/assets/upvote.svg" width="30" height="30" alt="За">
                                            </button>
                                            <button type="button" class="btn btn-danger">
                                                <img src="../static/assets/upvote.svg" width="30" height="30"
                                                     alt="Против"
                                                     style="transform: rotate(180deg)">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="fw-bold">
                                            Tags:
                                            <a href="#" class="btn btn-warning">Porta ac consectetur ac</a>
                                            <a href="#" class="btn btn-danger">Vestibulum at eros</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="container mt-4">
                        <h2 class="mb-4">Popular Tags</h2>
                        <ul class="list-group list-group-flush list-group-horizontal">
                            <li class="list-group-item">
                                <a href="#" class="btn btn-primary">Cras justo odio</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="btn btn-success">Dapibus ac facilisis in</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="btn btn-info">Morbi leo risus</a>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush list-group-horizontal">
                            <li class="list-group-item">
                                <a href="#" class="btn btn-warning">Porta ac consectetur ac</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="btn btn-danger">Vestibulum at eros</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="container mt-4">
                        <h2 class="mb-4">Best Members</h2>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <img src="../static/assets/avatar.png" width="30" height="30"
                                     alt="Аватар пользователя">
                                <a href="/profile/member1">Member 1</a>
                            </li>
                            <li class="list-group-item">
                                <img src="../static/assets/avatar.png" width="30" height="30"
                                     alt="Аватар пользователя 2">
                                <a href="/profile/member2">Member 2</a>
                            </li>
                            <li class="list-group-item">
                                <img src="../static/assets/avatar.png" width="30" height="30"
                                     alt="Аватар пользователя 3">
                                <a href="/profile/member3">Member 3</a>
                            </li>
                            <li class="list-group-item">
                                <img src="../static/assets/avatar.png" width="30" height="30"
                                     alt="Аватар пользователя 4">
                                <a href="/profile/member4">Member 4</a>
                            </li>
                            <li class="list-group-item">
                                <img src="../static/assets/avatar.png" width="30" height="30"
                                     alt="Аватар пользователя 5">
                                <a href="/profile/member5">Member 5</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link text-secondary" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link text-secondary" href="#">1</a></li>
                    <li class="page-item"><a class="page-link text-secondary" href="#">2</a></li>
                    <li class="page-item"><a class="page-link text-secondary" href="#">3</a></li>
                    <li class="page-item"><a class="page-link text-secondary" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </nav>
</footer>

<script src={% static '/js/bootstrap.bundle.min.js' %}></script>
</body>
</html>