<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="./index.html">
                    <img src="../static/assets/Q_logo.png" width="30" height="30"
                         class="img-thumbnail d-inline-block align-top"
                         alt="" loading="lazy">
                    AskQ
                </a>
                <form class="d-flex justify-content-center">
                    <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    <button class="btn btn-primary" type="button" onclick="window.location.href = './ask.html'">Ask!
                    </button>
                </form>
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-1" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            oFem1m_
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-1">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Log out</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <img src="../static/assets/avatar.png" width="40" height="40"
                             class="img-thumbnail " alt="" loading="lazy">
                    </li>
                </ul>


            </div>
        </nav>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="container mt-4">
                        <div class="row mb-4">
                            <div class="col-2">
                                <img src="../static/assets/avatar.png" width="100" height="100" alt="avatar">
                            </div>
                            <div class="col-10">
                                <h1 class="mb-4">Very important question</h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum iste, unde.
                                    Accusamus assumenda, blanditiis consectetur distinctio esse et facilis itaque nobis
                                    omnis qui quibusdam tempora velit. Cumque cupiditate earum, eligendi esse laudantium
                                    maxime molestias numquam tenetur voluptatibus!
                                </p>
                                <div class="d-flex align-items-center mt-1">

                                    <div class="btn-group" role="group" aria-label="Лайк и дисклайк">
                                        <button type="button" class="btn btn-success">
                                            <img src="../static/assets/upvote.svg" width="30" height="30" alt="За">
                                        </button>
                                        <button type="button" class="btn btn-danger">
                                            <img src="../static/assets/upvote.svg" width="30" height="30" alt="Против"
                                                 style="transform: rotate(180deg)">
                                        </button>
                                    </div>
                                    <div class="ps-3 fw-bold">
                                        Tags:
                                        <a href="#" class="btn btn-warning">Porta ac consectetur ac</a>
                                        <a href="#" class="btn btn-danger">Vestibulum at eros</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="row g-0">
                                <div class="col-md-2 d-flex justify-content-center align-items-center ">
                                    <img src="../static/assets/avatar.png" width="80" height="80" alt="Аватар">
                                </div>
                                <div class="col-md-10">
                                    <div class="card-body">
                                        <h4 class="card-title">Answer</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Culpa, delectus deserunt ducimus eius eos, error ex fugiat hic impedit
                                            obcaecati pariatur porro rerum sequi similique temporibus vero vitae
                                            voluptatem voluptatibus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row align-items-center">
                                    <div class="col-2">
                                        <div class="btn-group" role="group" aria-label="Лайк и дисклайк">
                                            <button type="button" class="btn btn-success">
                                                <img src="/static/assets/upvote.svg" width="30" height="30" alt="За">
                                            </button>
                                            <button type="button" class="btn btn-danger">
                                                <img src="/static/assets/upvote.svg" width="30" height="30" alt="Против"
                                                     style="transform: rotate(180deg)">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="fw-bold">
                                            Correct:
                                            <i class="fas fa-check text-success"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="row g-0">
                                <div class="col-md-2 d-flex justify-content-center align-items-center ">
                                    <img src="../static/assets/avatar.png" width="80" height="80" alt="Аватар">
                                </div>
                                <div class="col-md-10">
                                    <div class="card-body">
                                        <h4 class="card-title">Answer</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Accusantium ad beatae commodi culpa debitis deleniti deserunt, dolore,
                                            eum nam, nemo pariatur qui quia repellat! Consectetur dolores,
                                            ex expedita harum modi nihil nobis obcaecati odit quis quod rem sequi
                                            totam vel?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row align-items-center">
                                    <div class="col-2">
                                        <div class="btn-group" role="group" aria-label="Лайк и дисклайк">
                                            <button type="button" class="btn btn-success">
                                                <img src="../static/assets/upvote.svg" width="30" height="30" alt="За">
                                            </button>
                                            <button type="button" class="btn btn-danger">
                                                <img src="../static/assets/upvote.svg" width="30" height="30"
                                                     alt="Против"
                                                     style="transform: rotate(180deg)">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="fw-bold">
                                            Correct:
                                            <i class="fas fa-question text-danger"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" style="margin-bottom: 80px">
                            <div class="row g-0">
                                <div class="col-md-2 d-flex justify-content-center align-items-center">
                                    <img src="../static/assets/avatar.png" width="80" height="80" alt="Аватар">
                                </div>
                                <div class="col-md-10">
                                    <div class="card-body">
                                        <h4 class="card-title">Your Answer</h4>
                                        <textarea class="form-control" rows="3"
                                                  placeholder="Write your answer here..."></textarea>
                                        <div class="mt-2">
                                            <button class="btn btn-primary">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="container mt-4">
                        <h2 class="mb-4">Popular Tags</h2>
                        <ul class="list-group list-group-flush list-group-horizontal">
                            <li class="list-group-item">
                                <a href="#" class="btn btn-primary">Cras justo odio</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="btn btn-success">Dapibus ac facilisis in</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="btn btn-info">Morbi leo risus</a>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush list-group-horizontal">
                            <li class="list-group-item">
                                <a href="#" class="btn btn-warning">Porta ac consectetur ac</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="btn btn-danger">Vestibulum at eros</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="container mt-4">
                        <h2 class="mb-4">Best Members</h2>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <img src="../static/assets/avatar.png" width="30" height="30"
                                     alt="Аватар пользователя">
                                <a href="/profile/member1">Member 1</a>
                            </li>
                            <li class="list-group-item">
                                <img src="../static/assets/avatar.png" width="30" height="30"
                                     alt="Аватар пользователя 2">
                                <a href="/profile/member2">Member 2</a>
                            </li>
                            <li class="list-group-item">
                                <img src="../static/assets/avatar.png" width="30" height="30"
                                     alt="Аватар пользователя 3">
                                <a href="/profile/member3">Member 3</a>
                            </li>
                            <li class="list-group-item">
                                <img src="../static/assets/avatar.png" width="30" height="30"
                                     alt="Аватар пользователя 4">
                                <a href="/profile/member4">Member 4</a>
                            </li>
                            <li class="list-group-item">
                                <img src="../static/assets/avatar.png" width="30" height="30"
                                     alt="Аватар пользователя 5">
                                <a href="/profile/member5">Member 5</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link text-secondary" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link text-secondary" href="#">1</a></li>
                    <li class="page-item"><a class="page-link text-secondary" href="#">2</a></li>
                    <li class="page-item"><a class="page-link text-secondary" href="#">3</a></li>
                    <li class="page-item"><a class="page-link text-secondary" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </nav>
</footer>

<script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>